* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(165, 166, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 35%;
  height: 70vh;
  background-color: white;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.naslov {
  display: flex;
}
#firstname,
#lastname {
  border: 1px gray solid;
  border-radius: 5px;
  height: 35px;
  width: 50%;
  margin-top: 10px;
}
#mobmail,
#newpassword {
  width: 90%;
  height: 35px;
}
