div {
  border: cornflowerblue 2px solid;
  width: 500px;
  height: 450px;
}
h1 {
  background-color: cornflowerblue;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
li {
  border-bottom: dimgrey solid 1px;
  margin: 15px;
  list-style: none;
  font-size: 20px;
  padding: 10px;
}
ul {
  padding: 0px;
}
