.container {
  width: 80%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  position: relative;
  top: 150px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  border: black 2px solid;
  height: 180px;
  width: 380px;
}
h3 {
  margin-top: 60px;
  padding-left: 15px;
}
p {
  padding-left: 15px;
}
i {
  position: relative;
  bottom: 150px;
  font-size: 30px;
  padding: 10px;
}
