.container {
  background-color: blanchedalmond;
  width: 90%;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.prvi,
.drugi,
.treci,
.cetvrti {
  width: 100px;
  height: 100px;
  border: black solid 2px;
}
.prvi {
  background-color: blue;
}
.drugi {
  background-color: chartreuse;
}
.treci {
  background-color: cyan;
}
.cetvrti {
  background-color: darkgreen;
}
