div {
    display: inline-block;
    width: 50%;
    margin: 3px 0px;
}
.main {
      border: 1px solid black;
      width: 600px;
      height: 700px;
      margin: auto;
      padding: 15px;
}
label {
    display: inline-block;
}
.right {
    float: right;
    width: 45%;
    margin-right: 5px;
}
.dve {
    width: 47%;
    display: inline-block;
}
.cb {
    display: inline-block;
}
.db {
    width: 200%;
    margin-top: 30px;
    display: inline-block;
}
input {
      width: 100%;
      height: 25px;
}
button {
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 30px;  
    width: 300px;
    height: 40px;
    position: absolute;
    left: 190px;
}
button:hover{
    background-color: gray;
}
.inputi {
    width: auto;
    height: auto;
}