html {
  scroll-behavior: smooth;
}
body {
  margin: 0%;
}
header {
  background-color: rgb(0, 0, 0);
  color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
  display: block;
  top: 0px;
  left: 0px;
}
ul {
  display: inline-block;
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}
#sec1 {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0%;
  background-image: url(desu8b6-016c6571-ca2a-404a-8e1c-243817422f18.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  scroll-behavior: smooth;
  background-position: center;
  background-size: 100% 100%;
}
li {
  list-style: none;
  height: 35px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: fixed;
  bottom: 20px;
  font-family: "Bebas Neue", cursive;
}
.desno {
  margin-left: 80px;
  position: relative;
  left: 900px;
  margin-top: 50px;
  display: inline-block;
}
.naslov {
  display: inline-block;
  font-size: 60px;
  font-family: "Libre Barcode 39 Text", cursive;
  position: absolute;
  bottom: 30px;
}
h1 {
  text-align: center;
  margin: auto;
}
p {
  text-align: center;
}
#prvi {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  color: white;
  position: relative;
  top: 150px;
  left: 580px;
  display: inline-block;
  text-shadow: 1.7px 1.7px rgb(0, 0, 0);
}
#paragraf1 {
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  position: relative;
  color: white;
  left: 250px;
  top: 100px;
  display: inline-block;
  text-shadow: 1.7px 1.7px rgb(0, 0, 0);
}
button {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  display: block;
  margin-top: auto;
  margin-right: 0;
  padding: 10px 15px 10px 15px;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  border: none;
  border-radius: 10px;
  width: 20%;
  position: relative;
  left: 625px;
  top: 100px;
}
button:hover {
  background-color: rgb(156, 156, 156);
}
.but1:hover {
  background-color: rgb(116, 116, 116);
  transition: 1s all ease-in;
}
.div1 {
  margin: 0px;
  margin-top: 100px;
  position: relative;
  right: 150px;
  border: 0px solid black;
}

#sec2 {
  width: 100%;
  height: 100vh;
  background-image: url(city_concept_by_m_wojtala_d7eolvn-fullview.jpg);
  margin: 0px;
  padding: 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  scroll-behavior: smooth;
  background-position: center;
  background-size: 100% 100%;
}
.div2 {
  margin: 0px;
  z-index: 3;
position: relative;
bottom: 800px;
}
h2 {
  display: inline-block;
  font-size: 60px;
  color: white;
  font-family: "Bebas Neue", cursive;
  position: relative;
  top: 100px;
  left: 100px;
  text-decoration: underline;
  margin-bottom: 100px;
  text-shadow: black 1.5px 1.5px;

}
#paragraf2 {
  display: inline-block;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  margin-right: 300px;
  padding-left: 350px;
  position: relative;
  right: 250px;
  text-align: left;
  color: white;
  text-shadow: black 1.5px 1.5px;
  
}
a {
  text-decoration: none;
  color: inherit;
}
 
  #oblak{
    position: relative;
    left: 800px;
    z-index: 0;
    background: none;
    width: 30%;
    animation: animacija;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
  
  }
  @keyframes animacija{
    0% {
      top: 0px;
      right: 0px;
    }
   
    50% {
      top: 0px;
      left: 50px;
    }
   
    
    
    }
    #mist{
      position: relative;
      left: 200px;
      animation: animacija2;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      opacity: 80%;
      
  
    }
    @keyframes animacija2{
      0% {
        
        left: 0px;
      }
     
      50% {
        
        left: 100px;
      }
      100% {
        left: 0px;
      }
      
      }
      #fog{
        position: relative;
        bottom: 450px;
        width: 50%;
        height: 50%;
        animation: animacija3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        
      }
      @keyframes animacija3{
        0%{ 
          left: 0px;
         
        }
        50%{
          left: 50px;
         
      
        }
        100%{
          left: 0px;
        }
      }

#sec3 {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  scroll-behavior: smooth;
  background-position: center;
  background-size: 100% 100vh;
  background-image: url(neoncity_by_joeyjazz_dekl5mu-pre.jpg);
}
.container{
  height: 600px;
  width: 1500px;
  position: relative;
left: 200px;
top: 200px;
margin: 0%;
}
.NY,.LN,.MW{

border: solid violet 1px;
height: 350px ;
width: 300px;
display: inline-block;
position: relative;
top: 125px;
left: 200px;
margin-right: 100px;
background-color: rgba(0, 0, 0, 0.726);
border-radius: 10px;
box-shadow: rgb(0, 0, 0) 3px 3px 5px;
}
#NY,#LN,#MW{
  font-family:"Bebas Neue", cursive ;
  position: relative;
  top: 15px;
  font-size: 50px;
  color: white;

}
h3{
  font-family:"Bebas Neue", cursive ;
  display: inline-block;
  margin: 0%;
  position: relative;
top: 150px;
  left: 720px;
font-size: 100px;
text-shadow: 0.5px 0.5px rgb(99, 99, 99);
}
i{
  font-size: 80px;
  color: white;
  position: relative;
  top: 70px;
  left: 115px;
}
#sec4{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0%;
  scroll-behavior: smooth;
  height: 60vh;
  background-image: linear-gradient( rgb(46, 200, 247),violet, black);

}
.zadnji{
  border: black 0.5px solid;
  width: 500px;
  height: 300px;
  position: relative;
  top: 110px;
  left: 700px;
  box-shadow: black 2px 2px 10px;

}
#firstname {
  width: 350px;
  height: 30px;
  border-radius: 10px;
  

}
.name{
  position: relative;
  bottom: 120px;
  left: 750px;
  display: inline-block;
  font-family:"Bebas Neue", cursive ;
  font-size: 25px;
}
input[type=text]{
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
}
.mail{
  position: relative;
  bottom: 50px;
  left: 340px;
  display: inline-block;
  font-family:"Bebas Neue", cursive ;
  font-size: 25px;

}
#email{
  width: 350px;
  height: 30px;
  border-radius: 10px;

}
.submit{
  display: block;
  padding: 5px 15px 5px 15px;
 margin-left: 145px;
}
footer{
  width: 100%;
  height: 12vh;
  background-color: black;
}