* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 2px black solid;
}

header {
  width: 100%;
  height: 5vh;
  border: 2px black solid;
}

.center {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  border-right: black 2px solid;
  border-left: black 2px solid;
  width: 20%;
  height: 50vh;
}

main {
  width: 60%;
  height: 50vh;
}

aside {
  width: 20%;
  height: 50vh;
  border-left: 2px black solid;
  border-right: solid 2px black;
}

footer {
  border: black 2px solid;
  height: 5vh;
}
